#Ignore build path and cpp properties for differnt computers
Arduino_file_server/build**
.vscode/c_cpp_properties.json
#Ignore files in Tests Pychache
Tests/__pycache__/*

#May need to ignore files in webpage subdirs